* {
  box-sizing: border-box; 
  font-weight: 900;
}

body {
  margin: 0; 
  font-weight: 1000;
  padding-top: 65px;
}

img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

section {
  height: 100vh;

}

h1, h2 {
  text-align: center;

}

.hidden { opacity: 0;

} 


#main {
  background-image: url('../images/ot2.png');
  padding: 65px;
  display: flex;
  align-items: center;
}

#portfolio {
  background-image: url('../images/background.png');
  padding: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#contact {
  background-image: url('../images/ot2.png');
  padding: 65px;

}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}